{% extends 'common/base.html'%}
{% block title %} Login Page {%endblock%}
{% load crispy_forms_tags %}
{% block content %}
      <div class="container">
        <div class="row mt-5 pt-5">
            <div class="col-md-6 offset-md-3">
                <div class="card my-3 shadow">
                    <div class="card-body">
                        <span>Profile Image</span>
                        <span><button type="button" class="btn btn-info btn-sm float-right " data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Edit Profile
                        </button></span>
                        
                        <hr>
                     <div class="row">
                         <div class="col-md-4">
                            <img class="img-thumbnail" src="{{user.profile.image.url}}" alt="profile-img">
                         </div>
                         <div class="col-md-8">
                             <h4>Name:{{user.username}}</h4>
                             <h4>Email:{{user.email}}</h4>
                         </div>
                     </div>
                    </div>
                </div>
            </div>
        </div>
      </div>


      <!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Profile Info</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
              <div class="col-md-4">
                  <div class="col-md-8">
                      <form method="post" enctype="multipart/form-data">
                          {% csrf_token %}
                          {{u_form.as_p}}
                          {{p_form.as_p}}
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary btn-sm">Save changes</button>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
{% endblock %}




